@(username: Option[String])(implicit requestHeader: RequestHeader)

@main("Create new User") {

    @navbar(username)
    <div class="boxMiddle">
        <h2> create user </h2>
        <form action="@routes.CreateUserController.createUser()" method="post">
                <label class="label">name</label>
                <br>
                <input class="numTextInput" type="text" name="name"></input>
                <br>
                <label class="label">password</label>
                <br>
                <input class="numTextInput" type="password" name="password"></input>
                <br>
                <button class="buttonFixedWidth" type="submit" value="Create new user"  > create new user </button>
            @helper.CSRF.formField
        </form>
    </div>
}