@(username: Option[String])(implicit requestHeader: RequestHeader)

@main("Create new User") {

    @navbar(username)
    <h2> create user </h2>
    <form action="@routes.CreateUserController.createUser()" method="post">
        <div  >
            <label  >name</label>
            <input type="text"   name="name"></input>
            <label  >password</label>
            <input type="password"   name="password"></input>
            <br>
            <button type="submit" value="Create new user"  > create new user </button>
        </div>
        @helper.CSRF.formField
    </form>
    </div>
}