@(username: Option[String], household: Household, people: Seq[Person], shoppinglists: Seq[ShoppingList])(implicit requestHeader: RequestHeader)

@main("Household") {

    @navbar(username)

    <h2>@(household.name)</h2>

    <h3> shoppinglists </h3>

    <div>
        @for(shoppinglist <- shoppinglists) {
            <a href="/shoppingList/@(shoppinglist.id)">@(shoppinglist.name)</a>
            <br>
        }
    </div>

    <div>
        <a href="/newShoppingList/@(household.id)"> new shoppinglist </a>
    </div>

    <h3> people </h3>
    <div>
        @for(person <- people) {
            <form action="@routes.HouseholdController.removePersonFromHousehold()" method="post">
                @(person.name)
                <input type="hidden" name="householdId" value="@(household.id)"></input>
                <input type="hidden" name="personId" value="@(person.id)"></input>
                <button type="submit" value="remove" class="btn"> remove </button>
                @helper.CSRF.formField
            </form>
            <br>
        }
    </div>

    <h3> add person </h3>
    <form action="@routes.HouseholdController.addPersonToHousehold()" method="post">
        <div class="form-group">
            <label class="from-label">name</label>
            <input type="text" class="form-input" name="name"></input>
            <input type="hidden" name="householdId" value="@(household.id)"></input>
            <br>
            <button type="submit" value="add person to household" class="btn"> add person to household </button>
        </div>
        @helper.CSRF.formField
    </form>
}