@(username: Option[String], households: Seq[Household])(implicit requestHeader: RequestHeader)

@main("Households") {

    @navbar(username)

    <h2>households</h2>
    <h3> my households </h3>
    <div>
        @for(household <- households) {
            <a href="/household/@(household.id)" >@(household.name)</a>
            <br>
        }

        @if(households.length < 1) {
            you have no households yet
        }
    </div>
    <h3> new household </h3>
    <form action="@routes.HouseholdController.householdPost()" method="post">
        <div  >
            <label  >name</label>
            <input type="text"   name="name"></input>
            <br>
            <button type="submit" value="Create new household"  > create new household </button>
        </div>
        @helper.CSRF.formField
    </form>
}