@(username: Option[String], wrongPassword: Boolean)(implicit requestHeader: RequestHeader)

@main("Login") {

    @navbar(username)

    <div class="boxMiddle">
    <h2>Login</h2>
        <form action="@routes.LoginController.loginAction()" method="post">
                <label class="label">name</label>
                <br>
                <input class="numTextInput" type="text"   name="name"></input>
                <br>
                <label class="label">password</label>
                <br>
                <input class="numTextInput" type="password"   name="password"></input>
                <br>
                <button class="buttonFixedWidth" type="submit" value="login" > login </button>
            @helper.CSRF.formField
        </form>
    @if(wrongPassword) {
        <div  > user or password is unknown </div>
    }
    </div>
    
}