
@(username: Option[String])

<header class="navbar">
    <section class="navbarSection">
        <a class="linkButton"  href="/createUser">create user</a>
    </section>
    <section class="navbarSection" >
        <a class="linkButton"  href="/households">households</a>
    </section>
    <section class="navbarSection" >
        <a class="linkButton"  href="/shoppingLists">shopping lists</a>
    </section>
    <section class="navbarSection" >
        <a class="linkButton"  href="/purchases">purchases</a>
    </section>
    <section class="navbarLogin" >
        <span class="navbarText">
        @(username match {
            case Some(un: String) => "Welcome " + un + "!"
            case None => ""
        })
        </span>
        @if(username.isEmpty) {
            <a class="linkButton"  href="@routes.LoginController.loginAction()">login</a>
        } else {
            <a class="linkButton"  href="@routes.LoginController.logoutAction()">logout</a>
        }
    </section>
</header>