
@(username: Option[String])

<header  >
    <section  >
        <a   href="/createUser">create user</a>
    </section>
    <section  >
        <a   href="/households">households</a>
    </section>
    <section  >
        <a   href="/shoppingLists">shopping lists</a>
    </section>
    <section  >
        <a   href="/purchases">purchases</a>
    </section>
    <section  >
        @(username match {
            case Some(un: String) => "Welcome " + un + "!"
            case None => ""
        })
        @if(username.isEmpty) {
            <a   href="@routes.LoginController.loginAction()">login</a>
        } else {
            <a   href="@routes.LoginController.logoutAction()">logout</a>
        }
    </section>
</header>