@(username: Option[String], purchases: Seq[Purchase])(implicit requestHeader: RequestHeader)

@main("All Purchases") {
    @navbar(username)

    <div class="masterBox">
        <h2> purchases </h2>

        <div class="boxLeft">
            <h3> all purchases</h3>
            @for(purchase <- purchases) {
                @if(!purchase.disabled) {
                    <a class="linkButton" style="float: left" href="purchase/@(purchase.id)"> @(purchase.name) </a>
                    <form action="/deletePurchase/@(purchase.id)" 
                        method="post">
                        <button class="removeButtonSmall" type="submit" value="remove"> remove </button>
                        @helper.CSRF.formField
                    </form>
                    <div style="height: 4px"></div>
                }
            }
        </div>

        <div class="boxRight">
            <h3> create new purchase </h3>
            <a class="buttonFixedWidth" href="newPurchase"> new purchase </a>

            <!--suchfunktion machen-->
            <!-- farben oder durchgestichen bei eingekauften sachen -->
            <!-- alphabetische liste mit allen sachen -->
        </div>
    </div>

}